In [13]:
import sys
sys.path.append('/home/jxm3/research/deidentification/unsupervised-deidentification')

from dataloader import WikipediaDataModule
from model import AbstractModel, CoordinateAscentModel
from utils import get_profile_embeddings_by_model_key

import argparse
import collections
import glob
import os
import re

import datasets
import pandas as pd
import torch
import transformers
from tqdm import tqdm


from model_cfg import model_paths_dict

datasets.utils.logging.set_verbosity_error()


num_cpus = len(os.sched_getaffinity(0))


def get_profile_embeddings(model_key: str):
    profile_embeddings = get_profile_embeddings_by_model_key(model_key=model_key)

    print("concatenating train, val, and test profile embeddings")
    all_profile_embeddings = torch.cat(
        (profile_embeddings['test'], profile_embeddings['val'], profile_embeddings['train']), dim=0
    )

    print("all_profile_embeddings:", all_profile_embeddings.shape)
    return all_profile_embeddings


def get_output_folder_by_model_key(model_key: str) -> str:
    adv_csvs_folder = os.path.normpath(
        os.path.join(
            os.path.abspath(__file__), os.pardir, os.pardir, 'adv_csvs_full'
        )
    )
    return os.path.join(adv_csvs_folder, model_key)

def load_adv_csv(dm: WikipediaDataModule) -> pd.DataFrame:
    # Load all the stuff
    adv_df = None
    for model_name in ['model_3_1', 'model_3_2', 'model_3_3__placeholder', 'model_3_4']:
        adv_csvs_folder = os.path.normpath(
            os.path.join(
                os.getcwd(), os.pardir, 'adv_csvs_full'
            )
        )
        print('adv_csvs_folder', adv_csvs_folder)
        csv_filenames = glob.glob(
            os.path.join(
                adv_csvs_folder,
                f'{model_name}/results__b_1__k_1__n_1000.csv'
            )
        )
        print(model_name, csv_filenames)
        for filename in csv_filenames:
            df = pd.read_csv(filename)
            df['model_name'] = re.search(r'adv_csvs_full/(model_\d.+)/.+.csv', filename).group(1)
            df['k'] = re.search(r'adv_csvs_full/.+/.+__k_(\d+)__.+.csv', filename).group(1)
            df['i'] = df.index

            df = df[df['result_type'] == 'Successful']

            mini_df = df[['perturbed_text', 'model_name', 'i', 'k']]
            mini_df = mini_df.iloc[:100]
            
            if adv_df is None:
                adv_df = mini_df
            else:
                adv_df = pd.concat((adv_df, mini_df), axis=0)
    
    # Load baseline redacted data
    mini_val_dataset = dm.test_dataset[:1000]
    ner_df = pd.DataFrame(
        columns=['perturbed_text'],
        data=mini_val_dataset['document_redact_ner_bert']
    )
    ner_df['model_name'] = 'named_entity'
    ner_df['i'] = ner_df.index
        
    lex_df = pd.DataFrame(
        columns=['perturbed_text'],
        data=mini_val_dataset['document_redact_lexical']
    )
    lex_df['model_name'] = 'lexical'
    lex_df['i'] = lex_df.index

    # Combine both adversarial and baseline redacted data
    baseline_df = pd.concat((lex_df, ner_df), axis=0)
    baseline_df['k'] = 0
    full_df = pd.concat((adv_df, baseline_df), axis=0)

    # Put newlines back
    full_df['perturbed_text'] = full_df['perturbed_text'].apply(lambda s: s.replace('<SPLIT>', '\n'))

    # Standardize mask tokens
    full_df['perturbed_text'] = full_df['perturbed_text'].apply(lambda s: s.replace('[MASK]', dm.mask_token))
    full_df['perturbed_text'] = full_df['perturbed_text'].apply(lambda s: s.replace('<mask>', dm.mask_token))

    return full_df


def get_adv_predictions(model_key: str):
    checkpoint_path = model_paths_dict[model_key]
    assert isinstance(checkpoint_path, str), f"invalid checkpoint_path {checkpoint_path} for {model_key}"
    print(f"running eval on {model_key} loaded from {checkpoint_path}")
    model = CoordinateAscentModel.load_from_checkpoint(
        checkpoint_path
    )

    print(f"loading data with {num_cpus} CPUs")
    dm = WikipediaDataModule(
        document_model_name_or_path=model.document_model_name_or_path,
        profile_model_name_or_path=model.profile_model_name_or_path,
        dataset_name='wiki_bio',
        dataset_train_split='train[:256]',
        dataset_val_split='val[:256]',
        dataset_test_split='test[:100%]',
        dataset_version='1.2.0',
        num_workers=num_cpus,
        train_batch_size=256,
        eval_batch_size=256,
        max_seq_length=128,
        sample_spans=False,
    )
    dm.setup("fit")

    all_profile_embeddings = get_profile_embeddings(model_key=model_key).cuda()

    model.document_model.eval()
    model.document_model.cuda()
    model.document_embed.eval()
    model.document_embed.cuda()

    adv_csv = load_adv_csv(dm=dm)

    topk_values = []
    topk_idxs = []
    batch_size = 256
    i = 0
    while i < len(adv_csv):
        ex = adv_csv.iloc[i:i+batch_size]
        test_batch = dm.document_tokenizer.batch_encode_plus(
            ex['perturbed_text'].tolist(),
            max_length=dm.max_seq_length,
            padding='max_length',
            truncation=True,
            return_tensors='pt',
        )
        test_batch = {
            f'perturbed_text__{k}': v for k,v in test_batch.items()
        }
        with torch.no_grad():
            document_embeddings = model.forward_document(batch=test_batch, document_type='perturbed_text')
            document_to_profile_logits = document_embeddings @ all_profile_embeddings.T
            document_to_profile_probs = document_to_profile_logits.softmax(dim=1)
            topk_100 = document_to_profile_probs.topk(100)
            topk_values.append(topk_100.values)
            topk_idxs.append(topk_100.indices)

        i += batch_size
    
    adv_csv['pred_topk_values'] = torch.cat(topk_values, dim=0).cpu().tolist()
    adv_csv['pred_topk_idxs'] = torch.cat(topk_idxs, dim=0).cpu().tolist()
    return adv_csv

In [14]:
roberta_roberta_predictions = get_adv_predictions(model_key='model_3_3__placeholder')

running attack on model_3_3__placeholder loaded from /home/jxm3/research/deidentification/unsupervised-deidentification/saves/ca__roberta__dropout_0.5_1.0_0.0__e3072__ls0.1/deid-wikibio-4_default/1c9464tp_750/checkpoints/epoch=58-step=134342-idf_total.ckpt

Some weights of the model checkpoint at roberta-base were not used when initializing RobertaModel: ['lm_head.layer_norm.bias', 'lm_head.decoder.weight', 'lm_head.layer_norm.weight', 'lm_head.dense.bias', 'lm_head.bias', 'lm_head.dense.weight']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of the model checkpoint at roberta-base were not used when initializing RobertaModel: ['lm_head.layer_norm.bias', 'lm_head.decoder.weight', 'lm_head.layer_norm.weight', 'lm_head.dense.bias', 'lm_head.bias', 'lm_head.dense.weight']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

Initialized model with learning_rate = 0.0001 and patience 6
loading data with 8 CPUs
Initializing WikipediaDataModule with num_workers = 8 and mask token `<mask>`
loading wiki_bio[1.2.0] split train[:256]
loading wiki_bio[1.2.0] split val[:256]
loading wiki_bio[1.2.0] split test[:100%]
                        >> loaded 582659 train embeddings from /home/jxm3/research/deidentification/unsupervised-deidentification/embeddings/profile/model_3_3__placeholder/train.pkl
>> loaded 72831 val embeddings from /home/jxm3/research/deidentification/unsupervised-deidentification/embeddings/profile/model_3_3__placeholder/val.pkl
>> loaded 72831 test embeddings from /home/jxm3/research/deidentification/unsupervised-deidentification/embeddings/profile/model_3_3__placeholder/test.pkl
concatenating train, val, and test profile embeddings
all_profile_embeddings: torch.Size([728321, 3072])
adv_csvs_folder /home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full
model_3_1 ['/home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full/model_3_1/results__b_1__k_1__n_1000.csv']
adv_csvs_folder /home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full
model_3_2 ['/home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full/model_3_2/results__b_1__k_1__n_1000.csv']
adv_csvs_folder /home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full
model_3_3__placeholder ['/home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full/model_3_3__placeholder/results__b_1__k_1__n_1000.csv']
adv_csvs_folder /home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full
model_3_4 ['/home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full/model_3_4/results__b_1__k_1__n_1000.csv']

In [15]:
roberta_tapas_predictions = get_adv_predictions(model_key='model_3_2')

running attack on model_3_2 loaded from /home/jxm3/research/deidentification/unsupervised-deidentification/saves/ca__roberta__tapas__dropout_-1.0_1.0_0.0__e3072__ls0.1/deid-wikibio-4_lightning_logs/ojgxa1tf_6/checkpoints/epoch=65-step=150282-idf_total.ckpt

Some weights of the model checkpoint at roberta-base were not used when initializing RobertaModel: ['lm_head.layer_norm.bias', 'lm_head.decoder.weight', 'lm_head.layer_norm.weight', 'lm_head.dense.bias', 'lm_head.bias', 'lm_head.dense.weight']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

Initialized model with learning_rate = 0.0001 and patience 6
loading data with 8 CPUs
Initializing WikipediaDataModule with num_workers = 8 and mask token `<mask>`
loading wiki_bio[1.2.0] split train[:256]
loading wiki_bio[1.2.0] split val[:256]
loading wiki_bio[1.2.0] split test[:100%]
                        >> loaded 582659 train embeddings from /home/jxm3/research/deidentification/unsupervised-deidentification/embeddings/profile/model_3_2/train.pkl
>> loaded 72831 val embeddings from /home/jxm3/research/deidentification/unsupervised-deidentification/embeddings/profile/model_3_2/val.pkl
>> loaded 72831 test embeddings from /home/jxm3/research/deidentification/unsupervised-deidentification/embeddings/profile/model_3_2/test.pkl
concatenating train, val, and test profile embeddings
all_profile_embeddings: torch.Size([728321, 3072])
adv_csvs_folder /home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full
model_3_1 ['/home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full/model_3_1/results__b_1__k_1__n_1000.csv']
adv_csvs_folder /home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full
model_3_2 ['/home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full/model_3_2/results__b_1__k_1__n_1000.csv']
adv_csvs_folder /home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full
model_3_3__placeholder ['/home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full/model_3_3__placeholder/results__b_1__k_1__n_1000.csv']
adv_csvs_folder /home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full
model_3_4 ['/home/jxm3/research/deidentification/unsupervised-deidentification/adv_csvs_full/model_3_4/results__b_1__k_1__n_1000.csv']

In [18]:
roberta_roberta_predictions[roberta_roberta_predictions['model_name'] == 'model_3_3__placeholder']

,perturbed_text,model_name,i,k,pred_topk_values,pred_topk_idxs
0,"<mask> shenoff <mask> ( born february <mask> ,...",model_3_3__placeholder,0,1,"[0.11052840203046799, 0.05406518280506134, 0.0...","[467718, 158460, 530731, 401411, 685027, 68917..."
1,<mask> <mask> ( born <mask> <mask> <mask> in r...,model_3_3__placeholder,1,1,"[0.5141785740852356, 0.09889905899763107, 0.04...","[39633, 1, 627677, 467415, 168807, 305245, 404..."
2,<mask> <mask> ( born <mask> <mask> <mask> <mas...,model_3_3__placeholder,2,1,"[0.04162168875336647, 0.017952967435121536, 0....","[411731, 469648, 333439, 265113, 178437, 21793..."
3,john <mask> jack '' <mask> ( 21 february 1869 ...,model_3_3__placeholder,3,1,"[0.18395081162452698, 0.15015146136283875, 0.1...","[382939, 455178, 360496, 613292, 3, 296495, 20..."
4,"<mask> <mask> <mask> , ( born 7th july 1979 ) ...",model_3_3__placeholder,4,1,"[0.2873842716217041, 0.20317216217517853, 0.14...","[248452, 4, 445867, 331079, 646469, 428111, 13..."
...,...,...,...,...,...,...
97,<mask> <mask> hildebert <mask> ( ; born 6 marc...,model_3_3__placeholder,97,1,"[0.1861652284860611, 0.17227914929389954, 0.03...","[46645, 97, 649379, 524477, 200807, 658420, 27..."
98,<mask> <mask> ( born <mask> <mask> <mask> ) is...,model_3_3__placeholder,98,1,"[0.07223951816558838, 0.06788275390863419, 0.0...","[292621, 452271, 643379, 637442, 278902, 98, 4..."
99,<mask> bosisio ( born <mask> <mask> <mask> ) i...,model_3_3__placeholder,99,1,"[0.47312384843826294, 0.4663839340209961, 0.01...","[478090, 99, 131467, 307770, 492295, 345943, 4..."
100,"<mask> <mask> ( born <mask> <mask> , <mask> ) ...",model_3_3__placeholder,100,1,"[0.20568141341209412, 0.11684911698102951, 0.0...","[428736, 610597, 429695, 292739, 512155, 100, ..."
101,"vice admiral <mask> <mask>. <mask> , united st...",model_3_3__placeholder,101,1,"[0.17401713132858276, 0.12818169593811035, 0.1...","[447251, 43058, 101, 451252, 495942, 662715, 2..."

In [19]:
roberta_roberta_predictions.groupby('model_name').count()

,perturbed_text,i,k,pred_topk_values,pred_topk_idxs
model_name,,,,,
lexical,1000,1000,1000,1000,1000
model_3_1,100,100,100,100,100
model_3_2,100,100,100,100,100
model_3_3__placeholder,100,100,100,100,100
model_3_4,100,100,100,100,100
named_entity,1000,1000,1000,1000,1000

In [27]:
new_model_name = {
    'model_3_1': 'roberta_tapas__no_masking',
    'model_3_2': 'roberta_tapas',
    'model_3_3__placeholder': 'roberta_roberta',
    'model_3_4': 'pmlm_tapas'
}
roberta_roberta_predictions['model_name'] = roberta_roberta_predictions['model_name'].apply(lambda s: new_model_name.get(s,s))

In [28]:
out_df = roberta_roberta_predictions.rename(columns={'pred_topk_values': 'roberta_roberta__pred_topk_values', 'pred_topk_idxs': 'roberta_roberta__pred_topk_idxs'})
out_df['roberta_tapas__pred_topk_values'] = roberta_tapas_predictions['pred_topk_values']
out_df['roberta_tapas__pred_topk_idxs'] = roberta_tapas_predictions['pred_topk_idxs']
out_df.head()

,perturbed_text,model_name,i,k,roberta_roberta__pred_topk_values,roberta_roberta__pred_topk_idxs,roberta_tapas__pred_topk_values,roberta_tapas__pred_topk_idxs
0,"leonard shenoff <mask> ( born february 12 , <m...",roberta_tapas__no_masking,0,1,"[0.9138374924659729, 0.019291497766971588, 0.0...","[0, 578457, 120349, 267136, 532648, 719788, 49...","[0.8143362402915955, 0.022000230848789215, 0.0...","[0, 5473, 685461, 144197, 267136, 724119, 1798..."
1,<mask> <mask> ( born 25 august <mask> in rhège...,roberta_tapas__no_masking,1,1,"[0.9647166728973389, 0.0008567320764996111, 0....","[1, 100573, 39633, 569950, 176364, 255263, 395...","[0.18824410438537598, 0.14044655859470367, 0.1...","[627677, 467415, 1, 39633, 193135, 646267, 728..."
2,<mask> <mask> ( born 14 june <mask> in dvůr kr...,roberta_tapas__no_masking,2,1,"[0.9932199120521545, 0.0012878905981779099, 0....","[2, 333439, 654853, 507896, 122539, 224290, 50...","[0.5528936982154846, 0.2653157114982605, 0.033...","[2, 456329, 333439, 507309, 534720, 4831, 4452..."
3,john `` <mask> '' <mask> ( 21 february <mask> ...,roberta_tapas__no_masking,3,1,"[0.7518554925918579, 0.04164363816380501, 0.00...","[3, 455178, 382939, 202957, 360496, 296495, 45...","[0.8678763508796692, 0.027283597737550735, 0.0...","[3, 202957, 382939, 296495, 516160, 34822, 345..."
4,"william <mask> <mask> , ( born 7th july 1979 )...",roberta_tapas__no_masking,4,1,"[0.41385799646377563, 0.09564604610204697, 0.0...","[4, 248452, 254701, 391864, 331079, 428111, 44...","[0.8090968728065491, 0.08909827470779419, 0.00...","[4, 520062, 254701, 128242, 445867, 61930, 365..."

In [32]:
out_df['roberta_roberta__was_correct'] = out_df.apply(lambda row: row['i'] == row['roberta_roberta__pred_topk_idxs'][0], axis=1)

In [33]:
out_df['roberta_tapas__was_correct'] = out_df.apply(lambda row: row['i'] == row['roberta_tapas__pred_topk_idxs'][0], axis=1)

In [34]:
out_df.groupby('model_name').mean()

,i,roberta_roberta__was_correct,roberta_tapas__was_correct
model_name,,,
lexical,499.50,0.164,0.224
named_entity,499.50,0.674,0.557
pmlm_tapas,50.37,0.810,0.500
roberta_roberta,50.56,0.000,0.510
roberta_tapas,51.09,0.770,0.000
roberta_tapas__no_masking,50.17,0.890,0.780

In [35]:
out_df.to_csv('model_comparison_predictions.csv')

In [36]:
!realpath model_comparison_predictions.csv

/home/jxm3/research/deidentification/unsupervised-deidentification/notebooks/model_comparison_predictions.csv

In [45]:
import numpy as np
roberta_tapas__predictions_for__pmlm_tapas = np.vstack(out_df[out_df['model_name'] == 'pmlm_tapas']['roberta_tapas__pred_topk_idxs'])
for i in range(len(roberta_tapas__predictions_for__pmlm_tapas)):
    print(i,'\t', roberta_tapas__predictions_for__pmlm_tapas[i,:5])

0 	 [     0 157382 202669 453258 647283]
1 	 [627677 467415      1  39633 193135]
2 	 [456329      2 333439 507309 445282]
3 	 [     3 382939 345455 176246 202957]
4 	 [     4 520062 254701 128242 445867]
5 	 [     5 399211 357441 406264 553956]
6 	 [396740 447046 170143 210733 284738]
7 	 [     7 395200 191185 320731 367417]
8 	 [601929 461665 176324 354936  30302]
9 	 [     9 317732 235567 286404  18112]
10 	 [    10 711653 708314 148504 408799]
11 	 [530409  41750 380123 512320 668322]
12 	 [569603 338498     12  19054 285513]
13 	 [451541     13 348456 285891 123096]
14 	 [    14 229972  19055 398523 323485]
15 	 [    15 308063 604486 480493 408304]
16 	 [    16 448666 269221 379587 252302]
17 	 [383229 571143 374161     17   8379]
18 	 [225774 256563 698969 670183     18]
19 	 [    19 436791  58874  87961 426805]
20 	 [    20 484930 160605 483058 524858]
21 	 [441863     21 567151 614879 547715]
22 	 [492087 139891 105389 126565 612756]
23 	 [    23 384675  18320 653767 111297]
24 	 [    24 163061 231608 217913   8541]
25 	 [697324 274179 641466  29520 600275]
26 	 [644621 636213 169521 420698 610411]
27 	 [    27 531138 471327 687488 586235]
28 	 [    28 108600 622525 362457 590048]
29 	 [155710 233928 655863 312258 156877]
30 	 [244951 595256 631899 205344     30]
31 	 [    31 524419  87573 464010 219358]
32 	 [    32 510154 286327 239791 164523]
33 	 [498556 214654 149687 448794 358199]
34 	 [419947 185947 514084 571225 271730]
35 	 [    36 379521  49661 613555 143196]
36 	 [578149     37 644078 594879 139379]
37 	 [171915 694457 602922 422826 494809]
38 	 [    39 108300 225214  37880  93105]
39 	 [ 66601 134685 527533 181958 105960]
40 	 [113737     41 424744 400932   6598]
41 	 [    42 263059 105874 374562 523268]
42 	 [    43 697136 673521 174918 709299]
43 	 [    44 396001 195643 529875 167585]
44 	 [598434 166518 487973 309570    147]
45 	 [419931 456655 292794  52378 346457]
46 	 [    47 240551 324377 475990 658023]
47 	 [294637 621475 699167 153922 390567]
48 	 [656435  38029 683127 443015 134511]
49 	 [    50 279055  84665 181051 271959]
50 	 [    51 564669  47347  24477 113095]
51 	 [    52 510551 528533 351792  34226]
52 	 [    53  38568 333462 213419 146674]
53 	 [    54 664116 649871  54028  17662]
54 	 [242474  70466 651158 284187 451755]
55 	 [    56 342280 327204 191322 482765]
56 	 [ 61218     57  29758 119933 199586]
57 	 [296815 372457 601494 231196     58]
58 	 [    59 282025 260880 251230 443358]
59 	 [ 52063 434093     60 157598 467192]
60 	 [    61 310982 511368 651631 437085]
61 	 [344828 217273     62 300561 212631]
62 	 [687003 262985 224577     63 258204]
63 	 [682547     64 326318  17934 410298]
64 	 [313146 227263 577036 126477 100402]
65 	 [704148 577941 313027 273461 680514]
66 	 [    67 279314 434725 343900  46679]
67 	 [471337 346204  86211  92213 146981]
68 	 [   319 517369 228648 622378  49750]
69 	 [  3321 569002 694003 281997 269048]
70 	 [    71 254574 449845 114242 702117]
71 	 [355459 683474 267365 340903 152870]
72 	 [    73 114033  59615  37636 268787]
73 	 [    74 533980 177447 658215 546802]
74 	 [    75 191954 551556 287187 550421]
75 	 [    76 701735 677344 489466 540768]
76 	 [    77 528172 267987 247598 358154]
77 	 [188807 499692 222423  20324 640840]
78 	 [417397 337478     79 499891 421753]
79 	 [219363     80 460506 712570 115715]
80 	 [347451 579854 724585 641781 568449]
81 	 [    83 525305 334961  53942 553774]
82 	 [    84 619890 439349 211563  67617]
83 	 [380160 479786     85 674000 181147]
84 	 [104409 232699     86 264256 644531]
85 	 [105923     87 623877 572529 116027]
86 	 [    88 146578 318848 298954 624431]
87 	 [    89 559788 276604 198085 184953]
88 	 [450926     90 727174  50250 612892]
89 	 [278053 512139 388621 658332  61967]
90 	 [    92 706633 584398 221038 352587]
91 	 [555984     93 352323 705897 381417]
92 	 [ 48457  67351 213569  12812 438416]
93 	 [    95 371009 179891  18911 508246]
94 	 [    96 575100 620818 514547 331073]
95 	 [    97 590436 335694 160047 378902]
96 	 [118449 726456 474909 263097   8635]
97 	 [    99 577830  42149 105164 457905]
98 	 [   100 705957 512155 428736 292739]
99 	 [   101 131794  43058 451252 380327]

In [46]:
import datasets

d = datasets.load_dataset("wiki_bio")

  0%|          | 0/3 [00:00<?, ?it/s]